.intro-container{
  height: 350px;
  .intro-content {
    max-width: 500px;
  }
}

.side-intro-container{
  background-color: #f87217;
}

.label-height {
  height: 50px;
}

.img-new-product {
  aspect-ratio: 1/1;
}